@page
@model dbs2webapp.Views.IndexModel
@{
}

<h1>Hello World</h1>

<a asp-controller="Users" asp-action="Index">Users</a>
<a asp-controller="Assignments" asp-action="Index">Assignments</a>
<a asp-controller="AssignmentSubmissions" asp-action="Index">Assignment Submissions</a>