@page
@model dbs2webapp.Views.IndexModel
@{
}

<h1>Hello World</h1>

<a asp-controller="Users" asp-action="Index">Users</a>
<a asp-controller="UserCourses" asp-action="Index">User Courses</a>
<a asp-controller="Assignments" asp-action="Index">Assignments</a>
<a asp-controller="AssignmentSubmissions" asp-action="Index">Assignment Submissions</a>
<a asp-controller="ChapterContents" asp-action="Index">Chapter Contents</a>
<a asp-controller="Chapters" asp-action="Index">Chapters</a>
<a asp-controller="CourseCategories" asp-action="Index">Course Categories</a>
<a asp-controller="Courses" asp-action="Index">Courses</a>
<a asp-controller="Options" asp-action="Index">Options</a>
<a asp-controller="Questions" asp-action="Index">Questions</a>
<a asp-controller="Roles" asp-action="Index">Roles</a>
<a asp-controller="TestInstances" asp-action="Index">TestInstances</a>
<a asp-controller="TestQuestions" asp-action="Index">TestQuestions</a>
<a asp-controller="Tests" asp-action="Index">Tests</a>